@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image:url(../image/banner.png);
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

nav .logo a img {
    width: 150px;
}

nav .nav_links ul li {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    list-style: none;
}

nav .nav_links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    ;
    color: #fff;

}

 nav .fa{
    display:none;
 }

nav .nav_links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: #6495ED;
    transition: 0.5s ease;
}

nav .nav_links ul li:hover::after {
    width: 100%
}

.text_box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
}

.text_box h1 {
    font-size: 64px;
}

.text_box p {
    margin: 10px 0px 20px;
    font-size: 14px;

}

.hero_btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.hero_btn:hover {
    border: 1px solid #6495ED;
    background: #6495ED;
    transition: 1s;

}
/* Course Section */
#course{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
 h1{
    font-size:36px;
    font-weight:600;
}
 p{
    color:#777;
    font-size:14px;
    font-weight: 300;
    line-height:22px;
    padding:10px;
   
}
#course h3{
        text-align: center;
        font-weight:600;
        margin:10px 0;
        text-transform: uppercase; 
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:5%;
}
#course .row .course_col{
    flex-basis:31%;
    background: #fff3f3;
    border-radius:20px;
    margin-bottom:5%;
    box-sizing: border-box;
    padding:20px 12px;
    transition: 0.5s;
    
}
.course_col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}


/*      Campus Section   */
#campus{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:50px;
}
#campus .campus_col{
    position: relative;
    flex-basis:32%;
    border-radius:20px;
    margin-bottom:30px;
    overflow: hidden;
}
.campus_col img{
    width:100%;
    display: block;
}
 .campus_col .layer{
 position: absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:transparent;
 transition:0.5s;
}
.campus_col .layer:hover{
    background:rgba(192, 151, 199,0.7)
}
.layer h3{
    position: absolute;
    width:100%;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    text-align: center;
    font-weight:600;
    text-transform: uppercase;
    color:#fff;
    font-size:26px;
    opacity:0;
    transition:0.5s;
}
.layer p{
    position: absolute;
    width:100%;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    color: #fff;
    text-align:start;
    font-size:18px;
    opacity:0;
    transition:0.5s;
}
.campus_col .layer:hover h3{
    bottom:49%;
    opacity:1;
}
.campus_col .layer:hover p{
    bottom:38%;
    opacity:1;
}

/* Facilities Section */
#facilities{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}
.facilities_col{
   flex-basis:31%;
   border-radius:20px;
   margin-bottom:5%;
   text-align:left;
}
.facilities_col img{
    width:100%;
    border-radius:20px;
}
.facilities_col p{
    padding:0;
}
.facilities_col h3{
    margin:16px 0px 15px;
    text-align:left;
    text-transform: uppercase;
}

/*        Testimonials     */

#testimonials{
    width:80%;
    margin: auto;
    padding-top:100px;
    text-align: center;
}
.testimonial_col{
    flex-basis:44%;
    border-radius:20px;
    margin-bottom:5%;
    text-align:left;
    background:#fff3f3;
    padding:20px;
    cursor:pointer;
    display:flex;
}
.testimonial_col img{
    height:40px;
    margin-left:5px;
    margin-right:30px;
    border-radius:50%;
}
.testimonial_col h3{
    margin-top:10px;
    font-weight:600;
    text-align:left;
}
.testimonial_col p{
    padding:0;
}
.testimonial_col:hover{
    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.2);
}
.testimonial_col .fa{
    margin-top:10px;
    color:#fa8072;
    font-size:24px;
    font-weight:500;
}

/*  Call to Action Section  */
#cta{
    width:80%;
    margin: 100px auto;
    padding:100px 0;
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/banner2.jpg);
    background-position:center;
    background-size: cover;
    border-radius:20px;   
}
#cta h1{
    color:#fff;
    margin-bottom:40px;
    padding:0;
}


/*  Footer Section */
 #footer{
    width:100%;
    text-align: center;
    padding:30px 0;
 }
 #footer h4{
    font-size:24px;
    font-weight:600;
   margin:20px 0px 25px;
   text-align: center;
 }
#footer p:last-child{
    text-align: center;
    margin:20px 0px 50px;
}
.icon{
    margin:15px 0px;
}
 .icon a {
    text-decoration: none;
    font-size:32px;
    margin:0px 15px;
 }
 .icon a:nth-child(1){
    color:#3b5998
 }
 .icon a:nth-child(2){
    color:#e95950
 }
 .icon a:nth-child(3){
    color:#0077b5;
 }
 .icon a:nth-child(4){
    color:#00405d;
 }

/* -------------- About Page --------------------------------- */
#sub_header {
    position: relative;
    width: 100%;
    min-height:50vh;
    background-image:url(../image/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;
}
#sub_header h1{
    font-size:56px;
    font-weight:600;
    text-transform: uppercase;
    margin-top:100px;
}
/*      About us Content section */

#about_us {
    width:80%;
    margin:auto;
    padding:100px 0px 50px;
    text-align: center;
}

.about_col{
    flex-basis:48%;
    padding:30px 2px;
    text-align:left;
}
.about_col img{
    width:100%;
    display:block;
    border-radius:20px;
}
.about_col h1{
    padding-top:0;
}
.about_col p{
    padding:15px 0px 25px;
}
.red_btn{
    color:#f44336;
    background: transparent;
    border: 1px solid #f44336;
    text-transform: uppercase;
    transition:0.5s;

}
.red_btn:hover{
   color: #fff;
}

/*---------------- Blog page Content Section --------------------------------- */
#blog_content{
    width:80%;
    margin:auto;
    padding:60px 0px;
}
 .row_box{
   display: flex;
   justify-content: space-between;
   margin-top:5%;
}
.blog_left{
    flex-basis:65%;
}
.blog_left img{
    width:100%;
    border-radius:20px;
    display: block;
}
.blog_left h2{
    color:#222;
    margin:30px 0;
    font-size:600;
}
.blog_left p{
    padding:0;
}
.blog_right{
    flex-basis:31%;
    
}

.blog_right h3{
    background:#00405d;
    color:#fff;
    padding:10px 30px;
    font-size:20px;
    margin-bottom:20px;
    text-align: center;
}
.blog_right div{
    display: flex;
    align-items: center;
    justify-content:space-between;
    color:#555;
    padding:8px;
    box-sizing: border-box;
}

.comment_box{
    margin:40px 0;
    padding:30px 20px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/banner2.jpg);
    background-position:center;
    background-size: cover;
    border-radius:20px;   
}
.comment_box h3{
   text-align: center;
   text-transform: uppercase;
   font-size:24px;
   font-weight:600;
   color:#fff;
}
.comment_form input,.comment_form textarea{
    width:100%;
    margin:20px 0px;
    padding:10px;
    outline:none;
    border:none;
    border-radius:10px;
    box-sizing: border-box;
    background:#f0f0f0;
    text-transform: capitalize;
    font-size:16px;
    font: bold;
    color:#555;
    resize: vertical;
}
.comment_form input::placeholder,.comment_form textarea::placeholder{
    font-size: 16px;
    font-weight:bold;
    color:#e95950;
    opacity:0.5;
}
 .btn{
  width:100%;
  border:none;
  border-radius:10px;
  padding:10px;
  text-align:center;
  text-transform: uppercase;
  font-size:16px;
  font-weight:500;
  background: #0000ff;
  color:#fff;
  letter-spacing:0.05em;
}

/*-------------------- Contact Page  Content Section ---------------- */
#location{
    width:80%;
    margin:auto;
    padding:80px 0px;
}
#location iframe{
  width:100%
}

#contact_us{
    width:80%;
    margin:auto;
    padding:80px 0px;
}
.contact_col{
    flex-basis:48%;
    margin-bottom:30px;   
    margin-top:40px;
}
.contact_col div{
    display: flex;
    align-items: center;
    margin-bottom:40px;
}
.contact_col .fa {
    font-size:28px;
    color: #e95950;
    margin: 10px;
    margin-right:40px;
}
.contact_col div h5{
    font-size:20px;
    font-weight:400;
    margin-bottom:5px;
    color: #222;
}
.contact_col div p{
    padding:0;
}

.contact_right{
    padding:20px 40px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/banner2.jpg);
    background-position:center;
    background-size: cover;
    border-radius:20px;   
}
.contact_col input , .contact_col textarea{
    width:100%;
    margin:20px 0px;
    padding:10px;
    outline:none;
    border:none;
    border-radius:10px;
    box-sizing: border-box;
    background:#f0f0f0;
    text-transform: capitalize;
    font-size:16px;
    font: bold;
    color:#555;
    resize:vertical;
}
.contact_col input::placeholder , .contact_col textarea::placeholder{
    color: #e95950;
    font-size:16px;
    opacity:0.5;
}


/*      Responsive Website   */

@media (max-width:780px) {
    .text_box h1 {
        font-size: 20px;
    }

    nav .nav_links ul li {
        display: block;
    }
    nav .nav_links ul li::after{
        content: '';
        display:none;
    }

    nav .nav_links {
        position:fixed;
        background:#999999;
        min-height:100vh;
        width:200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 5;
        transition:1s;
    }
    nav .nav_links ul{
        padding:30px;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin:10px;
        font-size:24px;
        cursor:pointer;
    }
    /* Course Section,Campus Section ,Facilities Section and Testimonial Section  */
     .row{
        flex-direction: column;
    }

   .testimonial_col img{
    margin-left:0px;
    margin-right:15px;
}
/*  Call to Action Section */
#cta h1{
    font-size:24px;
}
/* Footer Section */
#footer p:nth-child(2){
    margin-left:50px;
    text-align:left ;
}
 #sub_header h1{
  font-size:24px;
 }
/*------------------------- Blog Page --------------------------------- */
.row_box{
    flex-direction: column;
}
}